h1 {
  font-family: sans-serif;
  font-size: 30px;
}

p {
  font-weight: 30000000; 
  font-size: 20px;
}

.W {
    background-color: white;
    font-style: italic;
    line-height: 20px;
    text-decoration: crimson;
}

.P {
    background-color: pink;
    font-style: italic;
    line-height: 20px;
    text-decoration: double; 
}

.B {
  background-color: brown;
  font-style: italic;
  line-height: 20px;
  text-decoration: double;
}

.Y {
  background-color: yellow;
    font-style: italic;
    line-height: 20px;
    text-decoration: double;
}

.Bl {
  background-color: blueviolet;
    font-style: italic;
    line-height: 20px;
    text-decoration: double;
}

.B {
  background-color: burlywood;
    font-style: italic;
    line-height: 20px;
    text-decoration: double;
}

.G {
  background-color: greenyellow;
    font-style: italic;
    line-height: 20px;
    text-decoration: double;
}

.R {
  background-color: rosybrown;
    font-style: italic;
    line-height: 20px;
    text-decoration: double;
}

#header {
  background-image: url(Love\ Bombing_\ What\ It\ Is\ and\ Signs\ to\ Look_y.jpg);
}